@media (max-width: 1250px){
    .lenguajes-div{
        padding: 0 0;
    }
    .listas2{
        padding: 0 0;
    }
    .foto{
        height: 100px;
        width: 100px;
    }
    .lenguajes{
        font-size: 30px;
    }
}
@media (max-width: 950px){
    .logo{
        display: none;
    }
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: black;
        display: flex;
        justify-content: center;
    }
    .social{
        align-items: center;
        flex: none;

    }
    .social a{
        font-size: 10px;
    }
    .nav{
        top: 0;
        display: flex;
        flex: none;
    }
    .section{
        flex-direction: column;
    }
    .inicio-btn{
        display: block;

    }
}
@media (max-width: 700px){
    .articulos{
        flex-direction: column;
    }
.foto{
    display: none;
}
.lenguajes{
    justify-content: center;

}
.social{
    display: none;
}
}
@media (max-width: 400px){
    
    .aside{
        flex-direction: column;
    }
}
