.menu{
    background:  rgb(0, 0, 0);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(98, 96, 96, 0.49);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
  }

  .logo{
      flex: 1.5 1 auto;
      padding: 15px 20px;
  }
  .logo a{
    color: var(--letras-color);
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .logo a:hover{
    font-size: 32px;
  }
  .nav{
      flex: 5 1 auto;
      justify-content: center;
  }
      .nav{
        color: var(--letras-color);
          font-size: 12px;
          text-transform: uppercase;
          padding: 0 10px;
          text-align: center;
      }
      .nav a{
          color:  rgb(226, 216, 216);
      }
      .nav a:hover{
          background-color:  rgba(44, 43, 43, 0.644);
          border-radius: 20px;
          padding: 10px 10px;
      }

  .social{
      display: flex;
      justify-content: right;
      flex: 1 1 auto;
  }
  .social a{
      font-size:  20px;
     color:  rgb(226, 216, 216);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 0 0;
  }
     .social i:hover{
        border-radius: 20px;
        background-color: aliceblue;
        color: black;
  }
  .footer-social{
    background-color:black;
    display: flex;
    margin: 0 10px ;
}
.icons-foot{
    display: flex;
    flex: auto;
    justify-content: center;
    height: 10px;
    align-items: center;
}
.icons-foot a{
    text-align: center;
    flex-flow: row;
}
.icons-foot i:hover{
    border-radius: 20px;
    background-color: aliceblue;
    color: black;
}